include "keybinds.kdl"
include "peripherals.kdl"
include "windows.kdl"
include "outputs.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
    honor-xdg-activation-with-invalid-serial
}
