// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
output "Lenovo Group Limited LEN T22i-10 V5KB2148" {
    // off
    // mode "1920x1080@120.030"
    // position x=1280 y=0
    // transform "normal" // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    // scale 2

    position x=0 y=0
}

output "LG Electronics LG ULTRAGEAR 109MXUN8P318" {
    position x=1920 y=0
    variable-refresh-rate on-demand=true
}
