// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        //on
    }
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    hide-when-typing
}

layout {
    gaps 5

    background-color "transparent"

    // - "never", default behavior, focusing an off-screen column will keep at the left or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // fixed 1920
    }
    default-column-width { proportion 0.66667; } // If you leave the brackets empty, the windows themselves will decide their initial width.

    // preset-window-heights { }

    focus-ring {
        off
        width 4

        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.
        active-color "#7fc8ff"
        inactive-color "#505050"

        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional, defaulting to 180 (top-to-bottom gradient).
        // Changing the color space is also supported, check the wiki for more info.
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // You can also color the gradient relative to the entire view/ of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    // The settings are the same as for the focus ring.
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"

        urgent-color "#9b0000" // Color of the border around windows that request your attention.
    }

    shadow {
        // on
        softness 30 // Softness controls the shadow blur radius.
        spread 5 // Spread expands the shadow.
        offset x=0 y=5 // Offset moves the shadow relative to the window.
        color "#0007" // You can also change the shadow color and opacity.
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

animations {
    // off
    // slowdown 1.5 // Slow down all animations by this factor. Values below 1 speed them up instead.
}

// Window rules let you adjust behavior for individual windows.
window-rule {
    // Work around WezTerm's initial configure bug by setting an empty default-column-width.
    match app-id=r#"^org\.wezfurlong\.wezterm$"# // You can get away with just app-id="wezterm" if you want.
    default-column-width {}
}

window-rule {
    // Open the Firefox picture-in-picture player as floating by default.
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    // Open quickshell widget TUI windows floating in the top right corner and with a border.
    match title="^quickshell-tui-widget$"
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 720; }
    draw-border-with-background true
    focus-ring {
        off
    }
    border {
        on
        width 2
        active-color "#ffffff"
        inactive-color "#ffffff"
    }
}

window-rule {
    // Example: enable rounded corners for all windows.
    geometry-corner-radius 10
    clip-to-geometry true
}

/-window-rule {
    // Example: block out two password managers from screen capture.
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
    // block-out-from "screencast" // Use this instead if you want them visible on third-party screenshot tools.
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
